.harmonika {
   background-color: var(--light-yellow); 
   color: black;
   cursor: pointer;
   padding: 18px;
   width: 100%;
   border: none;
   text-align: left;
   outline: none;
   font-size: 15px;
   transition: 0.4s;
}

.activeharmonika, .harmonika:hover {
    background-color: var(--dark-yellow);
}

.harmonika:after {
    content: '\02795'; 
    font-size: 13px;
    color: var(--dark-green);
    float: right;
    margin-left: 5px;
  }
  
  .activeharmonika:after {
    content: "\2796"; 
  }

.harmonikatekstfelt {
    padding: 0 18px;
    background-color: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.harmonikaboks {
    max-height: 1000px;
    padding-left: 5%;
    padding-right: 5%;
}

/* CREDIT TIL W3schooooooolz <3 */



