:root {

    /* colors */
    --dark-green: #6A801B;
    --light-green: #8BB06A;
    --black: #2B2129;
    --white: #ffffff;
    --blue: #B1D5E3;
    --light-yellow: #E8D062;
    --dark-yellow: #EDC003;

    /* fonts */
    --h1: 'Rock Salt';
	
  }


  /*styling for the scrollbar*/
  ::-webkit-scrollbar {
    width: 10px;
  }
  
::-webkit-scrollbar-thumb {
    background: var(--light-green); 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--dark-green); 
  }

body {
    margin: 0;
    padding: 0;
    font-family: 'helvetica neue', sans-serif;
    background-color: var(--white);
}

.transition-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 120%;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 101;
    background-color: var(--light-green);
    pointer-events: none;
    transition: 0.7s ease-in-out;
}

.transition-1 h1 {
    font-size: 5rem;
    color: white;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center
}
.transition-1.is-active {
    left: 0;
    pointer-events: all;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--light-green);
    width: 15%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-align: left; 
    font-family: 'helvetica neue', sans-serif;
    z-index: 7;
     
}

header ul a {
    padding-left: 5%;
}

.logo { 
    font-family: var(--h1);
    padding-top: 10%;
    color: var(--white);
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    float: left;
    text-align: center;
    
}

.logo li  {
    text-decoration: none;
    list-style-type: none;
    color: var(--white);
}

.logo li a {
    text-decoration: none;
    color: var(--white);
}



header nav ul {
    margin: 0;
    padding-top: 20%;
    padding-left: 0;
    display: block;
    
}

header nav ul li ul  {
    margin: 0;
    padding: 0;
    display: block;
    
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    font-size: 1.2rem;
    height: 50px;
    line-height: 50px;
    color: var(--white);
    text-decoration: none;
    display: block;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'helvetica neue', sans-serif;
    
}
header nav ul li a i {
    padding-right: 10%;

}

header nav ul ul {
    padding-top: 2%;
}

header nav ul ul li a {
   
    font-size: 1rem;
    font-weight: lighter;
}

.undermenu li {
    transition: all .5s ease;
    opacity: 0;
    height: 0;
    overflow: hidden;
    color: var(--white);
    -webkit-transition: all 1s -0.25s ease-out;
    -moz-transition: all 1s -0.25s ease-out;
      -o-transition: all 1s -0.25s ease-out;
     -ms-transition: all 1s -0.25s ease-out;
         transition: all 1s -0.25s ease-out;
}

.undermenu-active li{
    padding-left: 5%; 
    margin: 0;
    opacity: 1;
    height: 40px;
    -webkit-transition: all 1s -0.25s ease-out;
    -moz-transition: all 1s -0.25s ease-out;
      -o-transition: all 1s -0.25s ease-out;
     -ms-transition: all 1s -0.25s ease-out;
         transition: all 1s -0.25s ease-out;
}

header nav ul li a:hover ,
header nav ul li a.active,
.undermenu-active li a:hover {
    color: var(--white);
    background: var(--dark-green);
    color: var(--white);
    background: var(--dark-green);
}

.menu-toggle {
    position: absolute;
    right: 5%;
    color: var(--white);
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.content {
    padding-left: 15%;
    color: var(--black);
    font-family: 'helvetica neue', sans-serif;
}

.content h1 {
    font-family: var(--h1);
    font-size: 4rem;
    padding-left: 5%;
}

.cover-img {
    height: 300px;
    background: linear-gradient(0deg, rgba(2, 2, 2, 0.7), rgba(2, 2, 2, 0.7)), url(/Stigeoe/img/cover.jpg);
    background-position: 50% 65%;
    background-size: cover;
    display:flex ;
    justify-content: center;
    align-items: center;
    z-index: 6;
}

.cover-img h3 {
  position: absolute;
  left: 45%;
}

.footer {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    left: 0%;
    width: 15%;
    background-color: var(--light-green);
    z-index:100;
   
}

.footer a {
    font-size: 2rem;
    text-decoration: none;
    padding-bottom: 10%;
    color: var(--white);
}

.footer a:hover {
    color: var(--dark-green);
}

.event {
    padding-top: 2%;
    border-top: 2px solid  var(--light-yellow);
    max-height: 500px;
    margin: 5%;
}

.event h2 {
    max-width: 1000px;
    padding: 0;
    margin: 0;
    font-size: 2.5rem;
}

.event-img1 {
    background-image: url(/Stigeoe//img/juleevent.png);
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 50%;
    position: relative;
    padding: 5%;
   
}
.event-img2 {
    background-image: url(/Stigeoe/img/drageevent.png);
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 50%;
    position: relative;
    padding: 5%;
   
}
.event-img3 {
    background-image: url(/Stigeoe/img/påskeevent.png);
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 50%;
    position: relative;
    padding: 5%;
   
}

.indhold {
    max-height: 1000px;
    display: flex;
    justify-content: space-between;
}

.indhold img {
    max-width: 25%;
}

.tesk {
    width: 50%;
}


.button {
    background-color: var(--white);
    border: none;
    color: var(--light-green);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    border: 2px solid var(--light-green);
  }

  .button:hover {
    background-color: var(--light-green);
    border: none;
    color: var(--white);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    border: 2px solid var(--light-green);
  }

  #button {
    text-align: center;
    }

@media (max-width: 890px) {

    body {
        margin: 0;
        padding: 0;
       
        font-family: 'helvetica neue', sans-serif;

    }

    .content {
        padding-top: 6%;
        padding-left: 0%;
    }
    header {
    
        width: 100%;
        height: 6.5%;
        
    }
 
header .logo {
    padding-left: 1%;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 20px;
}
    .menu-toggle {
        display: block;
    }

    header nav {
        position: absolute;
        width: 100%;
        height: 100vh;
        background: var(--light-green);
        top: 53px;
        left: -100%;
        transition: 1s;
        transition-timing-function: ease-in-out;
        z-index: 999;
    }

 header nav.menu-notactive {
        left: -100%;
    }

    header nav.menu-active {
        left: 0;
        
    }

    header nav ul {
        display: block;
        text-align: center;
        padding-top: 0;
    }
    header nav ul li a  {
        border-top: 2px solid  var(--white);
        font-size: 1.5rem;
        padding: 2%;
    
    }
    header nav ul ul li a {
        border-top: 0px solid  var(--white);
        width: 100%;
    }

    .cover-img {
      
        height: 200px;
   
        
    }

    .cover-img h3 {
        font-size: 1rem;
        position: absolute;
        left: 40%;
      }
    .content h1 {
        font-family: var(--h1);
        font-size: 1.7rem;
        padding-left: 2%;
    }

    .event {
        padding-top: 6%;
        border-top: 2px solid  var(--light-yellow);
        max-height: 500px;
        padding-bottom: 3%;

    }
    
    .event h2 {
        max-width: 375px;
        padding: 0;
        margin: 0;
        font-size: 1.5rem;
    }
    
    .event-img {
        padding: 0;
        margin: 0;
        background-image: url(/Stigeoe/img/bær.jpg);
        background-position: center;
        background-size: cover;
        order: -1;
        height: 500px;
        width: 100%;
        position: relative;
        padding-bottom: 2%;
        z-index: -999;
    }
    
    .indhold {
        max-height: 500px;
        display: flex;
        flex-direction: column;
        padding-top: 10%;
        padding-bottom: 20%;
    }
    
   

    .tesk {
        width: 100%;
    }


    .footer {
        position: relative;
        bottom: 0;
        left: 0;
        height: 10%;
        width: 100%;
        background-color: var(--light-yellow);
    }

    .footer a {
        padding: 5% 0 5% 0;
    }

    .index-gallery{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "gallery-h1 gallery-h1 gallery-h1"
        "img-1 img-2 img-3 "
        "img-4 img-5 img-3"
        "img-6 img-7"
        ;
     }
     .index-gallery h1{
        padding-left: 0;
    }
}

/*Slider ord - Banner*/
#ordSlider{
    opacity:0;
    -webkit-transition:opacity 1.0s linear 0s;
    transition:opacity 1.0s linear 0s;
    z-index: 1;
}
 h3{
    font-family: 'Rock Salt';
    color: white;
    font-size: 2rem;
    display:flex ;
    justify-content: center;
    align-items: center;
    margin: 0;
    z-index: 6;
}


/* Kontakt siden */
.kontaktinfo{
	display: flex;
	margin: 0px;
}
.kontaktinfo p{
	margin: 0px 0px 0px 10px;

}

.kontakt h2{
	margin-left: 10px;
}
.kontakt p{
	margin-left: 10px;
}
.kontakt-left{
	margin-right: 10px;
}

/*Galleri siden*/

    .wrapper-gallery{
        margin: 0;
    }

    .index-gallery{
        margin: 2vw;
        display: grid;
        grid-template-columns:  repeat(3, 1fr);
        grid-template-rows: auto;
        grid-gap: 10px;
        grid-template-areas: 
        "gallery-h1 gallery-h1 gallery-h1 "
        "img-1 img-2 img-3 "
        "img-4 img-6 img-3 "
        "img-7 img-5 img-5" ;
    }

    .index-gallery .gallery-img{
        width: 100%;
        height: 300px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        cursor: pointer;
    }
    
    /*Billederne styling*/
    .index-gallery h1{
        grid-area: gallery-h1;
        margin-bottom: 0;
        margin-top: 1rem;
    }

    .index-gallery .img-1{
        grid-area: img-1;
        background-image: url("../img/img-1.jpg");
    }
    .index-gallery .img-2{
        grid-area: img-2;
        background-image: url("../img/img-2.jpg");
    }
    .index-gallery .img-3{
        grid-area: img-3;
        background-image: url("../img/img-3.jpg");
        height: 610px;
    }
    .index-gallery .img-4{
        grid-area: img-4;
        background-image: url("../img/img-4.jpg");
    }
    .index-gallery .img-5{
        grid-area: img-5;
        background-image: url("../img/img-5.jpg");
    }
    .index-gallery .img-6{
        grid-area: img-6;
        background-image: url("../img/img-6.jpg");
        width: 100%;
    }
    .index-gallery .img-7{
        grid-area: img-7;
        background-image: url("../img/img-7.jpg");
    }

    /* Galleri billede title*/
    .gallery-img div {
        width: 100%;
        height: 100%;
        background-color: #000000;
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .gallery-img a {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 19px;
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
    }
    .gallery-img div:hover {
        opacity: 0.8;
        transition: all ease-in-out 100ms;
    }
    /*Popup vindue - onclick*/
    .img-window{
        width: 100vw;
        height: 100vh;
        background-color:rgba(0, 0, 0, 1) ;
        position: fixed;
        top: 0;
        left: 0;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
    }
        /*Popup billede */
        .img-window img{
            max-width: 80vw;
            max-height: 80vh;
            z-index: 200;
        }



/*FAQ-styyyyyyyyyyylessssss*/
/* fjernet understreg ved klik af logo i hjørnet, Farven skifter stadig */
.active{
	text-decoration: none;	
}

.harmonika {
   background-color: var(--light-yellow); 
   color: black;
   cursor: pointer;
   padding: 18px;
   width: 100%;
   border: none;
   text-align: left;
   outline: none;
   font-size: 15px;
   transition: 0.4s;
}

.activeharmonika, .harmonika:hover {
    background-color: var(--dark-yellow);
}

.harmonika:after {
    content: '\02795'; 
    font-size: 13px;
    color: var(--dark-green);
    float: right;
    margin-left: 5px;
  }
  
  .activeharmonika:after {
    content: "\2796"; 
  }

.harmonikatekstfelt {
    padding: 0 18px;
    background-color: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.harmonikaboks {
    max-height: 1000px;
    padding-left: 5%;
    padding-right: 5%;
}
/* CREDIT TIL W3schooooooolz <3 */

/*UNDERSIDETEKSTFELTEEEEER - WHHHHHOOOOOP WHOOOOOOP!*/
.standardtekstfelt {
    padding-right: 5%;
    padding-left: 5%;
}

.undertekstfelt {
    padding-top: 2%;
    border-top: 2px solid var(--light-yellow);
    max-height: 500px;
    margin: 5%;
}

.underundertekstfelt {
    padding-top: 2%;
    border-top: 2px solid var(--light-yellow);
    max-height: 500px;
    margin: 5%;
    margin-left: 0%;
}

.imgimgimgstort {
    display: block;
    margin: auto;
    width: 80%;
}

.imgkort {
    display: block;
    margin: auto;
    width: 50%;

}


/*DOWNLOAD AF KORT*/
#downloadkort {
    text-align: center;
    color: black;
    text-decoration: underline;
}
#downloadkort:hover {
    color: var(--dark-yellow);
    text-decoration: underline;
}


@media (max-width: 500px){
    
    h3{
        font-size: 1rem;
    }

    .cover-img h3 {
        font-size: 1rem;
        position: absolute;
        left: 25%;
      } 

    
    .index-gallery{ 
           
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas:
                "gallery-h1 gallery-h1 "
                "img-1 img-2 "
                "img-3 img-4 "
                "img-5 img-6 "
                "img-7 img-7 ";
        }

    .index-gallery .gallery-img{
        width: 100%;
        height: 200px;
    }

    @media (max-width: 400px){
    
        .index-gallery{ 
                grid-template-columns: repeat(1, 1fr);
                grid-template-areas:
                    "gallery-h1 "
                    "img-1  "
                    "img-2 "
                    "img-3  "
                    "img-4 "
                    "img-5 "
                    "img-6 "
                    "img-7 "
                    ;
            }
    
        .index-gallery .gallery-img{
            width: 100%;
            height: 300px;
        }
      
}