:root {

    /* colors */
    --dark-green: #6A801B;
    --light-green: #8BB06A;
    --black: #2B2129;
    --white: #ffffff;
    --blue: #B1D5E3;
    --light-yellow: #E8D062;
    --dark-yellow: #EDC003;

    /* fonts */
    --h1: 'Rock Salt';
  }

  h1 {
      margin-left: 5%;
  }

  /*styling for the scrollbar*/
  ::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-thumb {
    background: var(--light-green);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--dark-green);
  }

body {
    margin: 0;
    padding: 0;
    font-family: 'helvetica neue', sans-serif;
    background-color: var(--white);
}

.transition-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 120%;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 101;
    background-color: var(--light-green);
    pointer-events: none;
    transition: 0.7s ease-in-out;
}

.transition-1 h1 {
    font-size: 5rem;
    color: white;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center
}
.transition-1.is-active {
    left: 0;
    pointer-events: all;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--light-green);
    width: 15%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: 'helvetica neue', sans-serif;
    z-index: 7;

}

header ul a {
    padding-left: 5%;
}

.logo {
    font-family: var(--h1);
    padding-top: 10%;
    color: var(--white);
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    float: left;
    text-align: center;

}

.logo li  {
    text-decoration: none;
    list-style-type: none;
    color: var(--white);
}

.logo a {
    text-decoration: none;
    color: var(--white);
}



header nav ul {
    margin: 0;
    padding-top: 20%;
    padding-left: 0;
    display: block;

}

header nav ul li ul  {
    margin: 0;
    padding: 0;
    display: block;

}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    font-size: 1.2rem;
    height: 50px;
    line-height: 50px;
    color: var(--white);
    text-decoration: none;
    display: block;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'helvetica neue', sans-serif;

}
header nav ul li a i {
    padding-right: 10%;

}

header nav ul ul {
    padding-top: 2%;
}

header nav ul ul li a {

    font-size: 1rem;
    font-weight: lighter;
}

.undermenu li {
    transition: all .5s ease;
    opacity: 0;
    height: 0;
    overflow: hidden;
    color: var(--white);
    -webkit-transition: all 1s -0.25s ease-out;
    -moz-transition: all 1s -0.25s ease-out;
      -o-transition: all 1s -0.25s ease-out;
     -ms-transition: all 1s -0.25s ease-out;
         transition: all 1s -0.25s ease-out;
}

.undermenu-active li{
    padding-left: 5%;
    margin: 0;
    opacity: 1;
    height: 40px;
    -webkit-transition: all 1s -0.25s ease-out;
    -moz-transition: all 1s -0.25s ease-out;
      -o-transition: all 1s -0.25s ease-out;
     -ms-transition: all 1s -0.25s ease-out;
         transition: all 1s -0.25s ease-out;
}

header nav ul li a:hover ,
header nav ul li a.active,
.undermenu-active li a:hover {
    color: var(--white);
    background: var(--dark-green);
    color: var(--white);
    background: var(--dark-green);
}

.menu-toggle {
    position: absolute;
    right: 5%;
    color: var(--white);
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.content {
    padding-left: 15%;
    color: var(--black);
    font-family: 'helvetica neue', sans-serif;
}
.historie-text {
    padding-left: 5%;
    display: flex;
    width: 80%;
}

#historie-img {
    padding-left: 5%;
    padding-bottom: 2.5%;
    width: 90%;   
}

.content h1 {
    font-family: var(--h1);
    font-size: 4rem;

}

#message {
    color: var(--white);
    padding-left: 1%;
}

.cover-img {
    height: 300px;
    background:url(../img/banner-forside.png);
    background-position: 50% 65%;
    background-size: cover;
    display:flex ;
    justify-content: center;
    align-items: center;
    z-index: 6;
}

.cover-img h3 {
  position: absolute;
  left: 45%;
  text-shadow: 4px 4px #2B2129;
}

.standardtekstfelt {
    display: flex;
    justify-content: left;
}




.standardtekstfelt img {
    padding-bottom: 5%;
    padding-right: 10%;
    width: 15%;

}

.standardtekstfelt p{
    margin-bottom: 2%;
}

footer {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    left: 0%;
    width: 15%;
    background-color: var(--light-green);
    z-index:100;
}
footer a {
    font-size: 2rem;
    text-decoration: none;
    padding-bottom: 10%;
    color: var(--white);
}

footer a:hover {
    color: var(--dark-green);
}

.event {
    padding-top: 5%;
    border-top: 2px solid  var(--light-yellow);
    max-height: 500px;
    margin: 5%;
}

.event h2 {
    max-width: 1000px;
    padding: 0;
    margin: 0;
    font-size: 2.5rem;
}

.event-img1 {
    background-image: url(../img/juleevent.png);
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 30%;
    position: relative;
    padding: 5%;

}
.event-img2 {
    background-image: url(../img/drageevent.png);
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 30%;
    position: relative;
    padding: 5%;

}
.event-img3 {
    background-image: url(../img/påskeevent.png);
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 30%;
    position: relative;
    padding: 5%;

}

.indhold {
    max-height: 1000px;
    display: flex;
    justify-content: space-between;
}

.indhold img {
    max-width: 25%;
}

.tesk {
    width: 40%;
}


.button {
    background-color: var(--white);
    border: none;
    color: var(--light-green);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
    border: 2px solid var(--light-green);
    margin-top: 30px;
  }

  .button:hover {
    background-color: var(--light-green);
    color: var(--white);
  }



/*Slider ord - Banner*/
#ordSlider{
    opacity:0;
    -webkit-transition:opacity 1.0s linear 0s;
    transition:opacity 1.0s linear 0s;
    z-index: 1;
}
 h3{
    font-family: 'Rock Salt';
    color: white;
    font-size: 2rem;
    display:flex ;
    justify-content: center;
    align-items: center;
    margin: 0;
    z-index: 6;
}


.kort {

    display: flex;
    flex-direction: column;
    padding-left: 5%;
	

}



/* Kontakt siden */

.kontaktinfo{
	display: flex;
	margin: 0px;
}
.kontaktinfo p{
	margin: 0px 0px 0px 10px;

}

.kontakt h2{
	margin-left: 10px;
	margin-top: 20px;
}
.kontakt p{
    margin-left: 10px;
    max-width: 650px;
}
.kontakt-left{
	margin-right: 10px;
}
.kontakt-titel{
	margin-bottom: 0;	
	
}

/*Galleri siden*/

    .wrapper-gallery{
        margin: 0;
    }

    .index-gallery{
        margin: 2vw;
        display: grid;
        grid-template-columns:  repeat(3, 1fr);
        grid-template-rows: auto;
        grid-gap: 10px;
        grid-template-areas:
        "img-1 img-2 img-3 "
        "img-4 img-6 img-3 "
        "img-7 img-5 img-5" ;
    }

    .index-gallery .gallery-img{
        width: 100%;
        height: 300px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        cursor: pointer;
    }

    /*Billederne styling*/

    .index-gallery .img-1{
        grid-area: img-1;
        background-image: url("../img/img-1.jpg");
    }
    .index-gallery .img-2{
        grid-area: img-2;
        background-image: url("../img/img-2.jpg");
    }
    .index-gallery .img-3{
        grid-area: img-3;
        background-image: url("../img/img-3.jpg");
        height: 610px;
    }
    .index-gallery .img-4{
        grid-area: img-4;
        background-image: url("../img/img-4.jpg");
    }
    .index-gallery .img-5{
        grid-area: img-5;
        background-image: url("../img/img-5.jpg");
    }
    .index-gallery .img-6{
        grid-area: img-6;
        background-image: url("../img/img-6.jpg");
        width: 100%;
    }
    .index-gallery .img-7{
        grid-area: img-7;
        background-image: url("../img/img-7.jpg");
    }
    .gallery-text{
        display: flex;
        align-items: center;
        margin: 2vw;
        padding-top: 6%;

    }
    .gallery-text img{
        height: 10%;
        width: 10%;
        transform: rotate(-15deg);
    }
    .gallery-text p{
        font-family: rock salt;
        font-size: 2vw;
        padding-left: 20px;
    }
    .responsiv-pil{
        display: none;
    }
/*FAQ-styyyyyyyyyyylessssss*/
/* fjernet understreg ved klik af logo i hjørnet, Farven skifter stadig */
.active{
	text-decoration: none;
}

.harmonika {
   background-color: var(--light-yellow);
   color: black;
   cursor: pointer;
   padding: 18px;
   width: 100%;
   border: none;
   text-align: left;
   outline: none;
   font-size: 15px;
   transition: 0.4s;
}

.activeharmonika, .harmonika:hover {
    background-color: var(--dark-yellow);
}

.harmonika:after {
    content: '\02795';
    font-size: 13px;
    color: var(--dark-green);
    float: right;
    margin-left: 5px;
  }

  .activeharmonika:after {
    content: "\2796";
  }

.harmonikatekstfelt {
    padding: 0 18px;
    background-color: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.harmonikaboks {
    max-height: 1000px;
    padding-left: 5%;
    padding-right: 5%;
}
/* CREDIT TIL W3schooooooolz <3 */

/*UNDERSIDETEKSTFELTEEEEER - WHHHHHOOOOOP WHOOOOOOP!*/
.standardtekstfelt {
    padding-right: 5%;
    padding-left: 5%;
}

.undertekstfelt {
    padding-top: 2%;
    border-top: 2px solid var(--light-yellow);
    max-height: 500px;
    margin: 5%;
}

.underundertekstfelt {
    padding-top: 2%;
    border-top: 2px solid var(--light-yellow);
    max-height: 500px;
    margin: 5%;
    margin-left: 0%;
}

.imgimgimgstort {
    display: block;
    margin: auto;
    width: 80%;
}

.imgkort {
    display: block;
    width: 25%;

}
#button {
    padding-left: 3%;
}

/*DOWNLOAD AF KORT*/
#downloadkort {
    padding-left: 7%;
    color: black;
    text-decoration: underline;
}
#downloadkort:hover {
    color: var(--dark-yellow);
    text-decoration: underline;
}

@media (max-width: 890px) {

    body {
        margin: 0;
        padding: 0;

        font-family: 'helvetica neue', sans-serif;

    }

    .content {
        padding-top: 6%;
        padding-left: 0%;
    }
    header {

        width: 100%;
        height: 6.5%;

    }

header .logo {
    padding-left: 1%;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 20px;
}
    .menu-toggle {
        display: block;
    }

    header nav {
        position: absolute;
        width: 100%;
        height: 100vh;
        background: var(--light-green);
        top: 53px;
        left: -100%;
        transition: 1s;
        transition-timing-function: ease-in-out;
        z-index: 999;
    }

 header nav.menu-notactive {
        left: -100%;
    }

    header nav.menu-active {
        left: 0;

    }

    header nav ul {
        display: block;
        text-align: center;
        padding-top: 0;
    }
    header nav ul li a  {
        border-top: 2px solid  var(--white);
        font-size: 1.5rem;
        padding: 2%;

    }
    header nav ul ul li a {
        border-top: 0px solid  var(--white);
        width: 100%;
    }


    .cover-img {

        height: 200px;

    }

    .cover-img h3 {
        font-size: 1rem;
        position: absolute;
        left: 40%;

      }
    .content h1 {
        padding-top: 8%;
        font-family: var(--h1);
        font-size: 1.7rem;
        padding-left: 2%;
    }
    .content p {
        color: var(--black)
    }

    .event h2 {
        max-width: 375px;
        padding: 0;
        margin: 0;
        font-size: 1.5rem;
    }

    .event-img1 {
        padding: 0;
        margin: 0;
        background-image: url(../img/juleevent.png);
        background-position: center;
        background-size: cover;
        order: -1;
        height: 500px;
        width: 100%;
        position: relative;
        padding-bottom: 2%;
        z-index: -999;
    }

	.event-img2 {
        padding: 0;
        margin: 0;
        background-image: url(../img/drageevent.png);
        background-position: center;
        background-size: cover;
        order: -1;
        height: 500px;
        width: 100%;
        position: relative;
        padding-bottom: 2%;
        z-index: -999;
    }

	.event-img3 {
        padding: 0;
        margin: 0;
        background-image: url(../img/påskeevent.png);
        background-position: center;
        background-size: cover;
        order: -1;
        height: 500px;
        width: 100%;
        position: relative;
        padding-bottom: 2%;
        z-index: -999;
    }

    .indhold {
        max-height: 500px;
        display: flex;
        flex-direction: column;
    }



    .tesk {
        width: 100%;
    }
  

    footer {
        display:flex;
        position: relative;;
        bottom:0;
        left:0;
        height: 100px;
        width: 100%;
        background-color: var(--light-yellow);
        z-index: -10;
    }

    #footer-gallery {
        margin-top: 650px;
    }

    footer a  {
        padding: 0;
    }

    .index-gallery{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "img-1 img-2 img-3 "
        "img-4 img-5 img-3"
        "img-6 img-7"
        ;
     }
     .index-gallery h1{
        padding-left: 0;
    }

    .gallery-text{
        display: flex;
        align-items: center;
        margin: 2vw;
        padding-top: 3%;
    }

    .gallery-text img{
        transform: rotate(56deg) scaleX(-1);
        padding-top: 20%;
        padding-left: 6%;

    }
    .normal-pil{
        display: none;
    }
    .gallery-text p{
        font-family: rock salt;
        font-size: 3vw;
        padding-left: 20px;

    }
    .responsiv-pil{
        display: block;
    }

    .gallery-text img{
        height: 15%;
        width: 15%;
    }
}

@media (max-width: 500px){

    h3{
        font-size: 1rem;
    }

    .cover-img h3 {
        font-size: 1rem;
        position: absolute;
        left: 25%;
      }

      .content h1 {
        font-size: 1.6rem;
    }

    .index-gallery{ 
           
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas:
                "img-1 img-2 "
                "img-3 img-4 "
                "img-5 img-6 "
                "img-7 img-7 ";
        }

    .index-gallery .gallery-img{
        width: 100%;
        height: 200px;
    }

    .gallery-text img{
        padding-left: 6%;
    }

    .gallery-text p{
        font-size: 4vw;
    }
    .button{
        margin-top: 15px;

      }
      #footer-gallery {
        margin-top: 1820px;
    }
    #footer-kontakt {
        margin-top: 650px;
    }
    #footer-faq {
        margin-top: 334px;
    }
    #footer-fremtid {
        margin-top: 103px;
    }
    #footer-kort {
        margin-top: 58px;
    }
    #footer-natur {
        margin-top: 2760px;
    }
      
    }
    @media (max-width: 400px){

        .index-gallery{
                grid-template-columns: repeat(1, 1fr);
                grid-template-areas:
                    "img-1  "
                    "img-2 "
                    "img-3  "
                    "img-4 "
                    "img-5 "
                    "img-6 "
                    "img-7 "
                    ;
            }

        .index-gallery .gallery-img{
            width: 100%;
            height: 300px;
        }


        .kort {

            display: flex;
            flex-direction: column;
            align-items: center;

        }

        .imgkort {
            width: 70%;
        }

    }


    .venstrebilleder {
        background-position: center;
        background-size: cover;
        height: 300px;
        width: 20%;
        padding: 5%;
        position: relative;
        position: center;
    }

    .sommerfugleflex {
        display: flex;
        flex-direction: column;
    }
